html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #262626;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	padding: 5rem;
}



.parameter {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.parameter > h2 {
  padding: 0.5rem;
}

.parameter > details {
	position: relative;
}

.parameter > details[open] {
	z-index: 1;
}

.parameter > details > summary {
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	background-color: #ddd;
	list-style: none;
}

.parameter > details > summary::-webkit-details-marker {
	display: none;
}

.parameter > details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

.parameter > details > summary:after {
	content: '';
	display: inline-block;
	float: right;
   margin-left: 0.5rem;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms;
}

.parameter > details > summary:focus {
	outline: none;
}

.parameter > details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

.parameter > details > ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

ul.list {
	counter-reset: labels;
}

label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}
