/* Colors */
@import '../../../colors';

/* Info  */
.title {
  cursor: pointer;
	display: flex;
	align-items: center;
  gap: 4px;
  margin-right: 6px;
}

.title:hover > svg {
  fill: $color-faceit-red;
}

.title:hover > h1 {
  color: $color-faceit-red;
}

.error {
  display: flex;
  position: relative;
  align-items: stretch;
  background-color: $color-faceit-red;
  color: $color-bg-900;
  border-radius: 4px;
	font-size: .7rem;
  font-weight: normal;
}

.error > p {
  margin: 0;
  padding: 4px 6px;
}
