/* Colors */
@import '../../../colors';

/* Info  */
.title {
	display: flex;
	align-items: center;
  gap: .3rem;
  margin-right: 6px;
  cursor: pointer;
}

.title:hover > svg {
  fill: $color-faceit-red;
}

.title:hover > h1 {
  color: $color-faceit-red;
}
