/* Colors */
@import '../../../colors';

/* Inlines  */
@import '../../../app/components/link.module';
@import '../../../app/components/metrics.module';
@import '../../../app/components/tooltip.module';

/* Map  */
.kpi {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.kpi p {
  font-size: .7rem;
  font-weight: bold;
}

.sidebar {
  position: absolute;
  width: .2rem;
  height: 98%;
  top: 0;
  left: 0;
  margin: 1px 0;
	border-radius: 4px 0 0 4px;
}
