/* Colors */
@import '../../colors';

/* Inlines  */
@import '../../app/components/grid.module';
@import '../../app/components/link.module';
@import '../../app/components/tooltip.module';

/* Map  */
.sidebar {
  position: absolute;
  width: .2rem;
  height: 98%;
  top: 0;
  left: 0;
  margin: 1px 0;
	border-radius: 4px 0 0 4px;
}
