/* Colors */
@import '../../colors';

/* Grid */
.cell {
  display: flex;
  flex: 1;
  //width: 35;
  justify-content: center;
  align-items: center;
  color: $color-faceit-green;
  font-size: .7rem;
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: row;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}
