/* Colors */
@import '../../colors';

/* Icon */
.icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0 2px;
  font-size: 80%;
  font-weight: normal;
}

.greater::before {
  content: "\2B06";
}

.equal::before {
  content: "\25FC";
}

.less::before {
  content: "\2B07";
}

.top::before {
  content: "\25B2";
}

.bottom::before {
  content: "\25BC";
}

.left::before {
  content: "\25C0";
}

.right::before {
  content: "\25B6";
  padding-left: 3px;
}
