/* Colors */
@import '../../colors';

/* Link */
a.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  border-radius: 4px;
  text-decoration: none;
  background-color: $color-bg-500;
  color: $color-fg-900;
  cursor: pointer;
}

a.link:hover {
  background-color: $color-bg-100;
}

a.link img, a.link svg {
  width: 14px;
}

a.link p {
  font-size: .75rem;
}

a.link.small {
  padding: 2px 4px;
}

a.link.large {
  padding: 2px 9px;
}

a.link.large img, a.link.large svg {
  margin-right: 6px;
}
