/* Colors */
@import '../../colors';

/* Link */
a.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 25px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

a.link img, a.link svg {
  width: 14px;
}

a.link p {
  font-size: .8rem;
}

a.link.small {
  padding: 2px 4px;
}

a.link.large {
  padding: 2px 9px;
}

a.link.large img, a.link.large svg {
  margin-right: 6px;
}

a.dark {
  background-color: $color-bg-500;
  color: $color-fg-900;
}

a.dark:hover {
  background-color: $color-bg-300;
}

a.light {
  background-color: $color-fg-500;
  color: $color-bg-900;
}

a.light:hover {
  background-color: $color-fg-300;
}

a.color {
  background-color: $color-faceit-red;
  color: $color-bg-900;
}

a.color:hover {
  background-color: $color-fg-300;
}
