/* Colors */
@import '../../colors';

/* Loading */
.loading-wrapper {
  width: 45px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading-wrapper .loading-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  background-color: $color-fg-300;
  transform: scale(0.4);
  animation: loading-dot-animation 0.6s infinite;
}

.loadingd-dot:nth-child(2) {
  animation-delay: 0.3s;
}

.loading-dot:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-dot-animation {
  0%,
  100% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
    background-color: $color-faceit-orange;
  }
}
