/* Colors */
@import '../../colors';

/* Section */
.section {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-bottom: 1px solid $color-bg-500;
}

.section:last-of-type {
  border: none;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.section-body {
  display: flex;
  margin-bottom: 8px;
}

.section-body p {
  color: $color-fg-900;
  font-size: .8rem;
}

.section-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
