/* Colors */
@import '../../colors';

/* Toolbar */
.toolbar {
	padding: 0;
	margin: 0;
	justify-content: left;
	align-items: center;
	font-family: Play, sans-serif;
}

.toolbar-header {
  display: flex;
	align-items: center;
  padding-bottom: .2rem;
  color: $color-fg-900;
}

.toolbar-header h1 {
  margin: 0;
  padding: 0;
  font-size: .8rem;
  font-weight: normal;
}

.toolbar-header svg {
  margin: 0;
  padding: 0;
  fill: $color-fg-900;
  min-height: 16px;
  height: 16px;
}

.toolbar-body {
  display: flex;
  padding-bottom: 1rem;
  gap: .2rem;
}
