/* Colors */
@import '../colors';

/* Application */
.app {
  width: 400px;
  background-color: $color-bg-900;
  color: $color-fg-300;
  font-family: "Source Sans Pro", sans-serif;
}

.app > header {
  padding: 15px;
  border-bottom: 1px solid $color-bg-500;
}

.app > header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.app > header .logo {
  min-height: 80px;
  height: 80px;
}

.app > header .text {
  display: flex;
  margin-left: 20px;
}

.app > header .title {
  display: inline-block;
  text-decoration: none;
  color: $color-fg-300;
}

.app > header .title:hover {
  color: $color-faceit-red;
}

.app > header .version {
  margin: 5px 0 0 5px;
}
