$color-bg-black: #161616;
$color-bg-grey: #303030;
$color-bg-lightgrey: #505050;
$color-fg-white: #f0eff4;
$color-fg-grey: #a0a0a0;
$color-faceit-grey: rgba(255, 255, 255, 0.6);
$color-faceit-green: #1ce400;
$color-faceit-yellow: #f6c30e;
$color-faceit-orange: #ff6309;
$color-faceit-red: #fe1f00;
